*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background: #FFFCBB;
}
.todo{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}
.todo-h1{
    font-weight: bold;
    font-size: 34px;
    width: 26%;
    margin: 20px auto;
}
.todo-input{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    background-color: #F2F8FD;
}
.checked{
    background-color: #231F20;
    text-decoration: line-through;
    border: 1px solid #F2F8FD;
}
.todo-items-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin: 25px auto;
    border: 1px solid #231F20;
    background-color: #F2F8FD;
}